@import "../../scss/variables";
@import "../../scss/mixin";
.card {
    width: 150px;
    min-width: 150px;
    padding: 0 10px;
    &__list {
        margin: 30px -10px;
    }
    &__container {
        @extend %flexbox;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .image {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 10%);
        border-radius: 8px;
        width: 100%;
        min-height: calc(150px * 1.5);
        height: calc(150px * 1.5);
        background: #dbdbdb;
        overflow: hidden;
        .wrapper {
            width: 100%;
            height: 100%;
            position: relative;
            top: 0;
            left: 0;
            .image {
                display: inline-block;
                width: 100%;
                height: 100%;
                img {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .content {
        width: 100%;
        padding: 26px 10px 12px 10px;
        position: relative;
        white-space: normal;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        h2 {
            font-size: 1em;
            margin: 0;
            width: 100%;
            word-wrap: normal;
            overflow-wrap: break-word;
        }
        a {
            font-weight: 700;
            color: #000;
            text-decoration: none;
        }
        p {
            font-size: 1em;
            margin: 0;
            padding: 0;
            color: rgba(0, 0, 0, 0.6);
        }
        .consensus {
            position: absolute;
            top: -19px;
            left: 10px;
            .outer_ring {
                display: inline-block;
                width: 42px;
                height: 42px;
                padding: 2px;
                border-radius: 50%;
                background-color: #081c22;
            }
            .user_score_chart {
                position: relative;
                display: inline-block;
                width: 100%;
                height: 100%;
                text-align: center;
                canvas {
                    background-color: transparent;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .percent {
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .circle-bg {
                        fill: none;
                        stroke: rgba(0, 0, 0, 0.1);
                        stroke-width: 1;
                    }
                    .circle {
                        fill: none;
                        stroke-width: 1;
                        stroke-linecap: round;
                        animation: progress 1s ease-in-out;
                    }
                    .percentage {
                        fill: white;
                        font-family: sans-serif;
                        font-size: 12px;
                        text-anchor: middle;
                    }
                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-top: 1px;
                        padding-left: 1px;
                        font-size: 10px;
                        color: white;
                        em {
                            font-style: normal;
                        }
                    }
                }
            }
        }
    }
}

.column_header {
    @extend %flexbox;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding: 0 10px;
    h2 {
        margin-right: 20px;
        white-space: nowrap;
    }
}
.selector_wrap {
    .selector {
        @extend %flexbox;
        justify-content: flex-start;
        align-items: stretch;
        align-content: center;
        border: 1px solid rgba($primary, 1);
        @include border-radius(30px);
        overflow: hidden;
        .anchor {
            position: relative;
            top: 0;
            left: 0;
            z-index: 1;
            &.selected {
                background: rgba($primary, 1);
                color: $white;
            }
        }
        h3 {
            display: inline-flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            padding: 4px 20px;
            margin-bottom: 0;
            white-space: nowrap;
        }
    }
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}
