@import "../../scss/variables";
@import "../../scss/mixin";
.hero {
    height: 360px;
    width: 100%;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        @include linearGradient(to right, rgba(3, 37, 65, 0.8) 0%, rgba(3, 37, 65, 0) 100%);
    }
    &__container {
        @extend %flexbox;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 30px 40px;
        @include background-size(cover);
        background-repeat: no-repeat;
        background-position: top center;
        position: relative;
    }
    .heading,
    .search {
        position: relative;
        z-index: 11;
        color: $white;
    }
    .heading {
        margin-bottom: 50px;
        h2 {
            font-size: 48px;
            line-height: 1;
        }
        h3 {
            font-size: 32px;
        }
    }
    .search {
        width: 100%;
        input#inner_search_v4 {
            width: 100%;
            height: 46px;
            line-height: 46px;
            color: rgba($black, 0.5);
            border: none;
            @include border-radius(30px);
            padding: 10px 20px;
            font-size: 14px;
            &:focus,
            &:focus-visible {
                border: none;
                outline: none;
            }
        }
        .btn {
            height: 46px;
            min-width: 100px;
            border: none;
            @include border-radius(30px);
            padding: 10px 26px;
            position: absolute;
            top: 0;
            right: -1px;
            color: $white;
            background: $primary;
        }
    }
}
