$icons: (
  facebook: "f",
  google: "g",
  twitter: "t",
  instagram: "i",
  whatsapp: "w",
  blog: "b",
  search: "s",
);

$white: #ffffff;
$primary: #032541;
$secondary: $white;
$complementray: #20d6aa;
$complementray-second: #c8102e;
$default: #4d4d4d;
$red: red;
$gray: gray;
$black: #000000;
$font-color: #fefefe;
$transparent: transparent;
$icon-font: "superhero" !important;

//Media Break-points
$media-mobile-small-320: 320px;
$media-mobile-ex-small: 360px;
$media-mobile-med: 375px;
$media-mobile-small-max: 480px;
$media-mobile-max: 767px;
$media-tablet-min: 768px;
$media-tablet-max: 992px;
$media-desktop-min: 1024px;
$media-desktop-max: 1200px;
$media-laptop-max: 1366px;
$media-ex-large-min: 1367px;
$media-ex-large-max: 1441px;
$media-ex-large-hd-max: 1601px;
$media-xxlarge: 1900px;
$media-xxlarge-min: 2000px;

//Hidden Class
$web-hidden: none;
$mobile-hidden: none;

$regular_font-family_primary: "Anton", sans-serif;

$light_font-family_secondary: "Roboto", sans-serif;
$regular_font-family_secondary: "Roboto", sans-serif;
$medium_font-family_secondary: "Roboto", sans-serif;
$bold_font-family_secondary: "Roboto", sans-serif;

$light_font-weight: 300;
$regular_font-weight: 400;
$medium_font-weight: 500;
$bold_font-weight: 700;
